<app-navbar></app-navbar>
  <div class="container">
  <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
<button mat-button id="resetBtn" (click)="reload()">RESET SEARCH CRITERIA</button>

<table mat-table [dataSource]="datasource" matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Puzzle </th>
    <td class="nameCol" mat-cell *matCellDef="let element"> {{element.name}} <br> <img class="content-image" src="{{element.image}}"> </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> <button mat-button class="btns">Rate</button> <br> <button mat-button class="btns">Solve</button> </td>
  </ng-container>

  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creator </th>
    <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}}/5 </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
  </ng-container>


  <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell">No data matching the filter "{{input.value}}"</td>
  </tr>

  <tr mat-header-row class="stickytop" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<br>

<div class="spinner">
  <mat-spinner *ngIf="show" id="spinner"></mat-spinner>
</div>
<!-- Angular 8 pagination -->
<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

</div>
