/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

.container-fluid{
   background-color: white;
   margin-left: 1.5%;
   margin-right: 1.5%;
   border-radius: 0.5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.navimg{
  height: 100%;
  width: 50%;
}


.container{
  background-color: white;
  height: 100%;
  width: 100%;
}

.infoIcon{
  float: right;
}

.content-image{
  width: 20vw;
  height: 20vw;
}

h1{
  text-align: center;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

 mat-card{
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: gainsboro;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 mat-card-subtitle{
  font-size: 14px;
   /* color: black;  */
}

 mat-card-title{
   margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


.btns{
  background-color: #7C593A;
  color: white;
  margin: 0.5vw;
  width: 50%;
  text-align: center;
  font-weight: normal;
}

.puzzleActions{
  display: inline;
}

.puzzleDetails{
  color: #fff;
}

#resetBtn:hover, .btns:hover{
  /* background-color: rgba(0,0,0,0.7);; */
  background-color: white;
  color: #7C593A;
}

.example-form-field{
  margin-left: 2vw;
}

#resetBtn{
  margin-left: 2vw;
  background-color: #7C593A;
  color: white;
  margin: 0.5vw;
  text-align: center;
  font-weight: normal;
  padding: 0.5vw;
  border-radius: 0.5vw;

}

#spinner{
  margin: auto ;
  color: black;
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.content {
  position: relative;
  width: 100%;
  max-width: 340px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
  /* height: 87%; */
}

.content-image{
  width: 100%;
  margin-bottom: 10px;
}

.content-details {
  position: absolute;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 30%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #7C593A;
      }
