.container-fluid{
  background-image: url('../../../assets/images/bg3.jpg');
}

img{
  width: 20vw;
  height: 20vw;
}

h1{
  text-align: center;

}

mat-card{
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: white;
  color: #7C593A;
}

.btns{
  background-color: #7C593A;
  color: white;
}

.example-form-field{
  margin-left: 2vw;
}

#resetBtn{
  margin-left: 2vw;
}

#spinner{
  margin: auto ;

}
