language: node_js
node_js: 14

sudo: required
before_install:
  - npm install -g node-gyp
cache:
  npm: false

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

notifications:
  webhooks: https://nzvm1.cs.up.ac.za/travis
  webhooks: https://hyperperform.cs.up.ac.za/travis
