language: python
install:
    - pip3 install --upgrade njsscan
script:
    - njsscan

language: node_js
node_js: 14

branches:
  only:
  - node/integrationTesting

sudo: required
before_install:
  - npm install -g node-gyp
  - npm update
cache:
  npm: false
  directories:
  - node_modules
  
install:
 - npm install

script:
- npm test

after_success:
  - npm run coverage
  - npm run coveralls

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

notifications:
  webhooks: https://nzvm1.cs.up.ac.za/travis
  
