language: node_js
node_js: 14
dist: xenial

sudo: required
before_install:
  - npm install -g node-gyp
  - google-chrome-stable --headless --disable-gpu --no-sandbox --disable-dev-shm-usage --remote-debugging-port=9222 http://localhost &
cache:
  npm: false

env:
  - CXX=g++-4.8
addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
  sauce_connect:
    username: "tapiwamazibuko"
    access_key: "006fc024-6fcf-4cb3-9dfd-66e546b32790"

notifications:
  webhooks: https://nzvm1.cs.up.ac.za/travis
