.container{
  background-image: url('../../../assets/images/back/christian-burri-9FQj7KHAOWk-unsplash.jpg');
  /* background-color: #be8a5c; */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1{
    margin-top: 1rem;
    font-family: keep-calm;
}

.btns{
    background-color: #7C593A;
}

#two{
    color: white;
}

#one{
    margin: 5%;
}

.regForm{
    margin-top: 150px;
    width: 20%;
    text-align: center;
}

.regFormContent{
    margin-top: 1rem;
}

.cardTitle{
    margin-left: 1rem;
    margin-top: 1rem;
}

#passError{
    color: red;
}

#resetDone{
    color: #7C593A;
}
