<div class="container">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center none">
      <mat-card class="regForm"><img src="assets/images/label.png">
          <mat-card-header>
              <h3>Reset Password</h3>
          </mat-card-header>
            <mat-card-content class="regFormContent">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input class="input" matInput placeholder="john@doe.com" formControlName="email" required>
                    </mat-form-field>
                        <div>
                            <ng-container *ngFor="let error of error_messages.email">
                                <mat-error class="error-message" *ngIf="resetPasswordForm.get('email').hasError(error.type) && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>

                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input class="input" matInput required formControlName="password" type="password">
                    </mat-form-field>
                        <div>
                            <ng-container *ngFor="let error of error_messages.password">
                                <mat-error class="error-message" *ngIf="resetPasswordForm.get('password').hasError(error.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>

                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm password</mat-label>
                            <input class="input" matInput  required formControlName="confirmPassword" type="password">
                        </mat-form-field>
                            <div>
                                <ng-container *ngFor="let error of error_messages.confirmPassword">
                                    <mat-error class="error-message" *ngIf="resetPasswordForm.get('confirmPassword').hasError(error.type) && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
                                        {{ error.message }}
                                    </mat-error>
                                </ng-container>
                                <span id="passError">{{formError}}</span>
                            </div>
                    </div>

                    <button mat-raised-button type="submit" [disabled]="!resetPasswordForm.valid" class="btns" id="one">Submit</button>
                    <a routerLink="/index" mat-raised-button class="btns" id="two">Cancel</a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
