nav{
  background-color: #7C593A;
}

.nav-link{
  color: white;
  margin-right: 1.5vw;
  font-size: 1.7rem;
}

.navbar-text{
  color: white;
  text-align: left;
  font-size: 1.5rem;
  font-family: keep-calm;
  margin-top: 2rem;
}

ul.nav li:hover > a {
  color: #7C593A !important;
  cursor: pointer;
}

span{
  float: right;
}

#logout{
  margin-left: 2vw;
  background-color: #7C593A;
  color: white;
  padding: 0.9vw;
  font-size: 1.7rem;
}

#logout:hover{
  background-color:  white;
  color: #7C593A;
  cursor: pointer;
}

.dropdown-item{
  font-size: 1.5rem !important;
  color: white !important;
}

.navimg{
  height: 13vw;
}

.caret{
  margin-left: 0.7vw !important;
}

.left {
  float: left;
}

.nav{
  font-family: keep-calm;
  margin: 0.8rem;
}

i{
  background-color: #7C593A;
  color: white;
  margin-top: 1vw;
}

#burger {
  background-color: #7C593A !important;
}

.dropdown-menu{
  background-color: #7C593A !important;
  padding: 1vw;
}

@media only screen and (max-width:768px){

  .dropdown-menu{
    background-color: #7C593A !important;
    padding-left: 4vw;
  }

}
