::ng-deep #navCustom nav{
  background-color: #7C593A;
}

.nav-link{
  color: white;
  margin-right: 1.5vw;
  font-size: 2rem;
}

.navbar-text{
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

ul.nav li:hover > a { color: #7C593A !important; }

span{
  float: right;
}

#logout{
  margin-left: 2vw;
  background-color: #7C593A;
  color: white;
  padding: 0.9vw;
  font-size: 2rem;
}

#logout:hover{
  background-color:  white;
  color: #7C593A;
  cursor: pointer;
}

.dropdown-item{
  font-size: 1.5rem !important;
  color: white !important;
}

.dropdown {
  background-color: #7C593A;
}

.navimg{
  height: 13vw;
}

.caret{
  margin-left: 0.7vw !important;
}

.left {
  float: left;
}
