<div class="row">
  <nav class="navbar justify-content-center">
    <div class="container">
        <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/ratings">View</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/create">Create</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="">Profile</a></li>
        </ul>
        <span class="navbar-text">
            Hello, {{name}}
        </span>
    </div>
  </nav>
</div>
