<div class="container-fluid">
<div class="logo">
  <img class="navimg" src="assets/images/logo_nav.png" routerLink="/ratings">
</div>
  <nav class="navbar navbar-expand-sm" id="navCustom">

    <span class="left"><button id="burger" class="navbar-toggler hidden-sm hidden-md hidden-lg hidden-xl" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span><i
        class="fa fa-bars fa-2x"></i></span></button></span>

    <span class="collapse navbar-collapse left" id="navbarSupportedContent1">
        <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
              <a class="nav-link" routerLink="/ratings">View</a>
            </li>
            <li class="nav-item dropdown" >
              <a  role="button" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create<div class="caret"></div></a>
               <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" routerLink="/create" >Manual</a><br>
                 <a class="dropdown-item" routerLink="/aicreate" >AI</a><br>
               </div>
            </li>
            <li class="nav-item dropdown">
              <a role="button" class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile<div class="caret"></div></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                 <a class="dropdown-item" routerLink="/profile">My Details</a><br>
                 <a class="dropdown-item" routerLink="/profilePuzzles">My Puzzles</a><br>
                 <a class="dropdown-item" routerLink="/profileRatings">My Ratings</a>
               </div>
            </li>
            <li *ngIf="admin" class="nav-item dropdown">
              <a role="button" class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin<div class="caret"></div></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                 <a class="dropdown-item" routerLink="/adminUser">All Users</a><br>
                 <a class="dropdown-item" routerLink="/adminPuzzles">All Puzzles</a><br>
                 <a class="dropdown-item" routerLink="/adminRatings">All Ratings</a>
               </div>
            </li>
        </ul>
    </span>
    <span class="navbar-text">
        Hello, {{name}}
        <a id="logout" (click)="logout()">Logout</a>
    </span>
  </nav>
</div>
