::ng-deep #navCustom nav{
  background-color: #7C593A;
}

.nav-link{
  color: white;
  margin-right: 1.5vw;
}

.navbar-text{
  color: white;
  text-align: left;
}

ul.nav li:hover > a { color: #7C593A !important; }

span{
  float: right;
}

#logout{
  margin-left: 2vw;
  background-color: #7C593A;
  color: white;
  padding: 1vw;
}

#logout:hover{
  background-color:  white;
  color: #7C593A;
  cursor: pointer;
}

.dropdown-item{
  font-size: 1vw !important;
}
