.btns{
    background-color: #7C593A;
    color: white;
    margin: 0.5vw;
    /* width: 50%; */
    border: 1px solid white;
    text-align: center;
    font-size: 1.5rem;
}

mat-dialog-content{
    width: 10rem;
}

h2{
    font-family: keep-calm;
}

.level{
    margin: 2rem;
    padding: 2rem;
}

.btns:hover{
    /* background-color: rgba(0,0,0,0.7);; */
    background-color: white;
    color: #7C593A;
    border: #7C593A solid 0.1px;
   }