<app-navbar></app-navbar>
<div class="content">
<div class="container" >
    <mat-card class="profile">
        <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div><img src="assets/images/profile.jpg" id="profileImage"></div>
        <div *ngIf="currentUserObject">
            <form [formGroup]="updateNameForm" (ngSubmit)="updateName()"> 
                <mat-form-field appearance="fill">
                    <input matInput formControlName="name"  value="{{currentUserObject.name}}" (input)="nameTextboxValue=$event.target.value"> 
                </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="!updateNameForm.valid" class="btns" >Save</button>
            </form>

            <form [formGroup]="updateUsernameForm" (ngSubmit)="updateUsername()"> 
                <mat-form-field appearance="fill">
                    <input matInput formControlName="username"  value="{{currentUserObject.username}}" (input)="usernameTextboxValue=$event.target.value"> 
                </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="!updateUsernameForm.valid" class="btns">Save</button>
            </form>
        </div>
        </mat-card-content>
    </mat-card>
</div>

<app-profile-puzzles></app-profile-puzzles>

<app-profile-ratings></app-profile-ratings>

</div>