#image, #profileImage{
    width: 20rem;
    height: 22rem;
}

#profileImage{
    height: 20vw;
    width: 20vw;
    border-radius: 100rem;
    padding: 2rem;
}

h1{
    margin-top: 1rem;
    font-family: keep-calm;
    color: black;
}

.profileImageCard{
  margin-left: 25%; 
}

.abc{
  display: inline;
}

.profileText, .profileImageCard{
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: gainsboro;
  color: black;
  width: 25%;
  text-align: center;
}

.userPuzzles{
    margin: 0.2rem;
    background-color:  #7C593A;
}

.btns{
  background-color: #7C593A;
  color: white;
  margin-bottom: 1rem;
}

.container-fluid{
     background-color: white;
     margin-left: 1.5%;
     margin-right: 1.5%;
     border-radius: 0.5%;
  }

  .move{
    border: 1px gainsboro solid;
    border-radius: 10px;
    padding: 0.5vw;
    margin-bottom: 1vw;
    background-color: white;
  }

  mat-card {
    width: 100%;
    max-width: 370px;
    position: relative;
    overflow: hidden;
    height: 39rem;
  }
