#image, #profileImage{
    width: 20rem;
    height: 22rem;
}

#profileImage{
    height: 20vw;
    width: 20vw;
    border-radius: 100rem;
    padding: 2rem;
}

.footer {
  background-color: #7C593A;
  line-height: 3rem;
}

h1{
    margin-top: 1rem;
    font-family: keep-calm;
    color: black;
    margin-left: 5vw;
}


.abc{
  display: inline;
}

.profileText, .profileImageCard{
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: gainsboro;
  color: black;
  width: 30%;
  text-align: center !important;
}

.userPuzzles{
    margin: 0.2rem;
    background-color:  #7C593A;
}

.btns{
  background-color: #7C593A;
  color: white;
  margin-bottom: 1rem;
}

.btns:hover{
  /* background-color: rgba(0,0,0,0.7);; */
  background-color: white;
  color: #7C593A;
  border: #7C593A solid 0.1px;
 }

.container-fluid{
     background-color: white;
     margin-left: 1.5%;
     margin-right: 1.5%;
     border-radius: 0.5%;
  }

  .move{
    border: 1px gainsboro solid;
    border-radius: 10px;
    padding: 0.5vw;
    margin-bottom: 1vw;
    background-color: white;
  }

  mat-card {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    margin:auto;
    position: relative;
    overflow: hidden;
    height: 39rem;
    text-align: center !important;
  }


  @media only screen and (max-width:576px){
    .profileImageCard, .profileText{
      margin: auto;
    }

  }
