<app-navbar></app-navbar>
<!--app-navbar-profile></app-navbar-profile-->


<div class="container-fluid" >
    <div fxLayout="row" fxLayout.xs="col wrap">
    <mat-card class="profileText">
        <mat-card-header>
            <h1>Edit Details</h1>
        </mat-card-header>
        <mat-card-content class="move">
        <div *ngIf="currentUserObject">
            <form [formGroup]="updateNameForm" (ngSubmit)="updateName()">
                <mat-form-field appearance="standard">
                    <label for="name">Your Name: </label>
                    <input matInput formControlName="name"  value="{{currentUserObject.name}}" (input)="nameTextboxValue=$event.target.value">
                </mat-form-field>
                <div>
                    <ng-container *ngFor="let error of error_messages.name">
                        <mat-error class="error-message" *ngIf="updateNameForm.get('name').hasError(error.type) && (updateNameForm.get('name').dirty || updateNameForm.get('name').touched)">
                            {{ error.message }}
                        </mat-error>
                    </ng-container>
                </div>
                <button mat-raised-button type="submit" [disabled]="!updateNameForm.valid" class="btns" >Save</button>
            </form>

            <form [formGroup]="updateUsernameForm" (ngSubmit)="updateUsername()">
                <mat-form-field appearance="standard">
                    <label for="username">Your Email: </label>
                    <input matInput formControlName="username"  value="{{currentUserObject.username}}" (input)="usernameTextboxValue=$event.target.value">
                </mat-form-field>
                <div>
                    <ng-container *ngFor="let error of error_messages.username">
                        <mat-error class="error-message" *ngIf="updateUsernameForm.get('username').hasError(error.type) && (updateUsernameForm.get('username').dirty || updateUsernameForm.get('username').touched)">
                            {{ error.message }}
                        </mat-error>
                    </ng-container>
                </div>
                <button mat-raised-button type="submit" [disabled]="!updateUsernameForm.valid" class="btns">Save</button>
            </form>
        </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="lvl">
        <mat-card-title>Progress</mat-card-title>
        <mat-card-content class="move">
            <mat-card-title class="lvlText">XP: {{playerXP}}</mat-card-title>
            <mat-card-title class="lvlText">Level: {{playerLevel}}</mat-card-title>
            <mat-progress-bar class="bb" mode="determinate" value="{{currProgress}}"></mat-progress-bar>
            <mat-card-subtitle class="prog">Level Progress: {{currProgress}}%</mat-card-subtitle>

        
        
    </mat-card-content>
    </mat-card>

  </div>
</div>

<app-footer class="footer" ></app-footer>
