<div class="container">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center none">
      <mat-card class="regForm"><img src="assets/images/label.png">
          <mat-card-header>
              <h3>Sign Up</h3>
          </mat-card-header>
            <mat-card-content class="regFormContent">
                <form [formGroup]="signUpForm" (ngSubmit)="createNewUser(signUpForm.value)">
                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your full name</mat-label>
                        <input class="input" matInput placeholder="John Doe" formControlName="name" required >
                    </mat-form-field>
                        <div>
                            <ng-container *ngFor="let error of error_messages.name">
                                <mat-error class="error-message" *ngIf="signUpForm.get('name').hasError(error.type) && (signUpForm.get('name').dirty || signUpForm.get('name').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>

                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input class="input" matInput placeholder="john@doe.com" formControlName="email" required>
                    </mat-form-field>
                        <div>
                            <ng-container *ngFor="let error of error_messages.email">
                                <mat-error class="error-message" *ngIf="signUpForm.get('email').hasError(error.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>

                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput required
                  [type]="fieldTextType ? 'text' : 'password'"
                  class="input"
                  formControlName="password"
                />
                    </mat-form-field>
                    <span><i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                    ></i></span>
                        <div>
                            <ng-container *ngFor="let error of error_messages.password">
                                <mat-error class="error-message" *ngIf="signUpForm.get('password').hasError(error.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>
                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm password</mat-label>
                        <input matInput required
                  [type]="fieldTextType2 ? 'text' : 'password'"
                  class="input"
                  formControlName="confirmPassword"
                />
                    </mat-form-field>
                    <span><i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType2,
                        'fa-eye': fieldTextType2
                      }"
                      (click)="toggleFieldTextType2()"
                    ></i></span>
                        <div>
                            <ng-container *ngFor="let error of error_messages.confirmPassword">
                                <mat-error class="error-message" *ngIf="signUpForm.get('confirmPassword').hasError(error.type) && (signUpForm.get('confirmPassword').dirty || signUpForm.get('confirmPassword').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                            <span id="passError">{{formError}}</span>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" [disabled]="!signUpForm.valid" class="btn" id="one">Sign Up</button>

                    <a routerLink="/index" mat-raised-button color="accent" class="btns">Cancel</a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
