::ng-deep #navCustom nav{
  background-color: #7C593A;
}

.nav-link{
  color: white;
  margin-right: 1.5vw;
}

.navbar-text{
  color: white;
  text-align: left;
}

ul.nav a:hover { color: #7C593A !important; }
