<app-navbar></app-navbar>

<div class="container-fluid">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1"> 
     <mat-card class="content">
       <mat-card-header>
       </mat-card-header>
      <mat-card-content>
        <div id="topContent">
            <mat-card-title >What is AI?</mat-card-title>
            <div id="topText">
                Lorem Ipsum
            </div>
        </div>
        <hr>
        <div id="bottomContent">
            <mat-card-title >How does our AI Puzzle Generator Work?</mat-card-title>
            <div id="bottomText">
              <div class="left">
               Our AI Puzzle Generator makes use of a Genetic Algorithm (GA). Blah blah Blah
               <br>
               <img src="assets/images/Capture.PNG">
              </div>
              <div class="right"> 
                Bleh bleh bleh<br>
               <img src="assets/images/Capture2.PNG"/>
              </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
 
  <app-footer class="footer"></app-footer>
 