.container{
    /*background-image: url('../../../assets/images/back/jude.jpg');*/
    background-color: #7C593A;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    margin-top: 1rem;
    font-family: keep-calm;
}

.btns{
    background-color: #7C593A;
    color:white;
}

#one{
    margin: 5%;
}

#two{
    color: white;
}

.regForm{
    width: 20%;
    text-align: center;
}

#passError{
    color: red;
}

.regFormContent{
    margin-top: 1rem;
}

h1{
    margin-top: 1rem;
    font-family: keep-calm;
}

.cardTitle{
    margin-left: 9.5rem;
}

#passError{
    color: red;
}

.link{
    color: black;
}

img{
    width: 100%;
    height: 100%;
}
