<div class="container">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center none">
        <mat-card class="regForm"><img src="assets/images/label.png">
            <mat-card-header>
                <h3>Login</h3>
            </mat-card-header>
            <mat-card-content class="regFormContent">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input class="input" matInput placeholder="john@doe.com" formControlName="email" required>
                    </mat-form-field>
                        <div>
                            <ng-container *ngFor="let error of error_messages.email">
                                <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>

                    <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label><br>
                        <input matInput required
                            [type]="fieldTextType ? 'text' : 'password'" class="input" formControlName="password"/>
                    </mat-form-field>
                    <span>
                        <i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType }" (click)="toggleFieldTextType()">
                        </i>
                    </span>

                        <div>
                            <ng-container *ngFor="let error of error_messages.password">
                                <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                    {{ error.message }}
                                </mat-error>
                            </ng-container>
                            <span id="passError">{{formError}}</span>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" [disabled]="!loginForm.valid" class="btns" id="one">Login</button>
                    <a routerLink="/index" mat-raised-button class="btns" id="two">Cancel</a>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <a (click)="sendMail()" class="forgot">Forgot Password</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

