.container{
    background-image: url('../../../assets/images/bg3.jpg');
    height: 100%;
    width: 100%;
}

.btns{
    background-color: #7C593A;
    color:white;
}

#one{
    margin: 5%;
}

.regForm{
    width: 30%;
    text-align: center;
}

.regFormContent{
    margin-top: 1rem;
}

.cardTitle{
    margin-left: 1rem;
    margin-top: 1rem;
}

#passError{
    color: red;
}

.link{
     color: black;
   }


   mat-card{
     margin: auto;
     margin-bottom: 2vw;
     margin-top: 2vw;
     background-color: white;
     color: #7C593A;
   }

   input {
     color: black;
   }
