<div class="container">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center none">
          <mat-card class="regForm"><img src="assets/images/label.png">
              <mat-card-header>
                  <h3>Reset Password</h3>
              </mat-card-header>
            <mat-card-content class="regFormContent">
                    <p>Please login</p>
                    <a routerLink="/login" mat-raised-button class="btns" id="two">Login</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
