/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

/* body {
  margin: 0;
  font-family: sans-serif;
}

.expanded-toolbar {
  justify-content: space-between;
  background-color: #7C593A;
}

h1 {
  text-align: center;
} */

@font-face{
  font-family: keep-calm;
  src: url('../assets/keep_calm/KeepCalm-Medium.ttf');
}