<app-navbar></app-navbar>
<div class="container">
<div class="container-fluid" *ngIf="currentUser" >
    <h1 class="main-title" >My Ratings</h1>
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="content" *ngFor="let rating of userRatingsList">
          <div class="content-overlay"></div>
          <img class="content-image" src="{{rating.image}}">
            <mat-card-title><strong>{{rating.puzzleName}}</strong></mat-card-title>
            <mat-card-subtitle>Rating: {{rating.rating}}/5</mat-card-subtitle>
            <mat-card-actions class="puzzleActions">
                <button mat-button class="btns">SOLVE</button>
                <button mat-button class="btns" (click)="openAndCheck(rating.puzzleID)">UPDATE RATING</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</div>

<div id="NoneText" *ngIf="text">
    <h2>You have not made any ratings at the moment</h2>
</div>
<div class="spinner">
<mat-spinner *ngIf="show" id="spinner"></mat-spinner>
</div>
