<app-navbar></app-navbar>
<!--app-navbar-profile></app-navbar-profile-->
<div class="container-fluid">
<h2>My Ratings</h2>
<div *ngIf="currentUser" class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card *ngFor="let rating of ratingList|async" class="userPuzzles">
        <mat-card-header>
            <mat-card-title>{{rating.puzzleName}}</mat-card-title>
            <mat-card-subtitle>Rating: {{rating.rating}}/5</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div></div>
            <img id="image" src="assets/images/puzzles/{{rating.puzzleID}}.png">
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btns">Solve</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="!ratingList">
    You have not made any ratings at the moment
</div>

</div> 
