#image{
    width: 20vw;
    height: 20vw;
}

.btns{
  background-color: #7C593A;
  color: white;
}

.container-fluid{
    background-image: url('../../../assets/images/bg3.jpg');
    color: white;
}

mat-card{
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: white;
  color: #7C593A;
}
