<app-navbar></app-navbar>

<mat-form-field class="searchArea">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<button mat-button [ngClass]="{
  inUse: sortedBy=='puzzleAsc' || sortedBy=='puzzleDesc',
  sortBtns: sortedBy!='puzzleAsc' || sortedBy!='puzzleDesc'
}">Name
  <mat-icon *ngIf='sortedBy!="puzzleAsc"' (click)="nameAscending()" class="arrow">arrow_upwardward</mat-icon> |
  <mat-icon *ngIf='sortedBy!="puzzleDesc"' (click)="nameDescending()" class="arrow">arrow_downward</mat-icon>
</button>

<button mat-button [ngClass]="{
  inUse: sortedBy=='ratingAsc' || sortedBy=='ratingDesc',
  sortBtns: sortedBy!='ratingAsc' || sortedBy!='ratingDesc'
}">Rating
  <mat-icon *ngIf='sortedBy!="ratingAsc"' (click)="ratingAscending()" class="arrow">arrow_upwardward</mat-icon> |
  <mat-icon *ngIf='sortedBy!="ratingDesc"' (click)="ratingDescending()" class="arrow">arrow_downward</mat-icon>
</button>

<button mat-button [ngClass]="{
  inUse: sortedBy=='dateAsc' || sortedBy=='dateDesc',
  sortBtns: sortedBy!='dateAsc' || sortedBy!='dateDesc'
}">Date
  <mat-icon *ngIf='sortedBy!="dateAsc"' (click)="dateAscending()" class="arrow">arrow_upwardward</mat-icon> |
  <mat-icon *ngIf='sortedBy!="dateDesc"' (click)="dateDescending()" class="arrow">arrow_downward</mat-icon>
</button>

<div class="container">
<div class="container-fluid" *ngIf="currentUser" >
    <h1 class="main-title" >My Ratings</h1>
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="content" *ngFor="let rating of this.datasource.filteredData | slice: startIndex:endIndex">
          <div class="content-overlay"></div>
          <img class="content-image" src="{{rating.image}}">
          <div class="content-details fadeIn-bottom">
            <mat-card-header>
              <mat-card-subtitle class="puzzleDetails"><strong>Created on:</strong> {{rating.created}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails"><strong>Description:</strong> {{rating.description}}</mat-card-subtitle>
            </mat-card-header>
          </div>
            <mat-card-title><strong>{{rating.puzzleName}}</strong></mat-card-title>
            <mat-card-subtitle>Rating: {{rating.rating}}/5</mat-card-subtitle>
            <mat-card-actions class="puzzleActions">
                <button mat-button class="btns" (click)="openAndCheck(rating.puzzleID)">Update Rating</button>
                <button mat-button class="btns" id="delete" (click)="delete(rating.puzzleID)">Delete Rating</button>
            </mat-card-actions>
            <br>
            <mat-card-actions class="puzzleActionsA">
                <button mat-button class="btnsA">Solve</button>
                <button mat-button class="btnsA" id="2dDownload" (click)="twoDDownload(rating.puzzleID)" >2D
                  <mat-icon>save_alt</mat-icon>
                </button>
                <button mat-button class="btnsA" id="3dDownload" (click)="threeDDownload(rating.puzzleID)">3D
                  <mat-icon>save_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-paginator *ngIf="!text && !show"  [length]="totalNumberOfPuzzles" [pageSize]="pageSize"
                  (page)="pageEvent = changeEvent($event)">
</mat-paginator>

</div>

<div id="NoneText" *ngIf="text">
    <h2>You have not made any ratings at the moment</h2>
</div>
<div class="spinner">
<mat-spinner *ngIf="show" id="spinner"></mat-spinner>
</div>

<app-footer class="footer" *ngIf="!show"></app-footer>
