.descText{
    padding: 2%;
}

.indexNavBtns{
    padding: 1%;
}

.container-fluid{
    background-image: url('../../../assets/images/bg3.jpg');
}

.btns{
    background-color: #7C593A;
    color:white;
}


mat-card{
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 2vw;
  background-color: white;
  color: #7C593A;
}
