@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.main-title{
  color: white;
  text-align: center;
  padding: 0.7em 0;
  margin-top: 30px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}

.one{
  padding: 1em 0;
  float: left;
  width: 50%;
}


.one .title{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.descText{
    padding: 2%;
}

.indexNavBtns{
    padding: 1%;

}

img {
    width: 100%;
    height: 100%;
  }


#second{
    background-color: #694b30;
    width:100%;
    height: 91%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #7C593A;
}


 .btns{
    background-color: #7C593A;
    color: white;
}


html {
  scroll-behavior: smooth;
}

.btn {
  background-color: transparent;
/*   border-radius: 0.5rem; */
  border: 1.5px solid black;
  color: black ;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-align: center;
  width: 150px;
  transition-duration: 0.4s;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#more{
  text-align: center;
  width: 150px;

}

.why{
  text-align: center;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: grey;
  color: white;
  border: 1px solid grey;

}

.try{
  background-color: whitesmoke;
}


/* #first{
  background-image: url('../../../assets/images/whitenew3.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
} */


/* .content{
    background-image: url('../../../assets/images/bg2.jpg');
} */


/*
.child-1, .child-2, .child-3{
    background-color: white;
    color: #7C593A;
    background-size: cover;
    margin: auto;
    margin-bottom: 2vw;
    margin-top: 2vw
}
 */



/* .indexImg{
    width: 100%;
    height: 100%;
} */




/* .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    width: 250px;
    height: 50px;
    background-color: lightgray;
    text-align: center;
} */

/* .btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: black ;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 250px;
} */
