<div fxLayout="row" fxLayoutAlign="center center" style="background-color: yellow;">
    <mat-card fxFlex="82">
            <p>Puzzles have been a hobby of many people over the centuries, coming in various
            forms which have various ways of solving. Puzzles have played a role in people’s
            problem solving skills. Puzzle generators have allowed for more puzzles to be
            created, using various techniques to create interesting and challenging puzzles.
            The system requested by the client involves the creation of 3-Dimensional puzzles (manually and from the use of AI), testing of puzzles, sharing and rating of
            puzzles by other users, as well as the ability of downloading 3D printable files.
            Team Prometheus, has come up with a way to develop the system according to
            the client’s specifications.</p>
  </mat-card>
</div>

<div class="container">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" style="background-color: aqua;">
        <mat-card  class="child-1">
            <mat-card-header>
                <mat-card-title>Puzzle One</mat-card-title>
                <mat-card-subtitle>Created by X</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img class="indexImg" src="assets/images/imgC.jpg">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>SOLVE</button>
                <button mat-button>RATE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card  class="child-2">
            <mat-card-header>
                <mat-card-title>Puzzle One</mat-card-title>
                <mat-card-subtitle>Created by X</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img class="indexImg"  src="assets/images/imgB.jpg">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>SOLVE</button>
                <button mat-button>RATE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="child-3">
            <mat-card-header>
                <mat-card-title>Puzzle One</mat-card-title>
                <mat-card-subtitle>Created by X</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img class="indexImg"  src="assets/images/imgC.jpg">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>SOLVE</button>
                <button mat-button>RATE</button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="background-color: yellow;">
    <mat-card fxFlex="82">
        <a routerLink="/login" mat-raised-button color="accent">Login</a>
        <a routerLink="/signup" mat-raised-button color="accent">Sign Up</a>
  </mat-card>
</div>