<header id="indexNav">
    <nav class="links">
      <ul>
        <li id="btnLink"><a href="/signup" mat-button class="indexBtn">Sign Up</a></li>
        <li id="btnLink"><a href="/login" mat-button class="indexBtn">Login</a></li>
      </ul>
    </nav>
</header>
<div class="container" id="second">
        <!-- <h1 class="main-title"><strong>CREATE | SOLVE | PRINT | RATE</strong></h1>
        <h2 class="subtitle"><i>Sign up or login to start creating puzzles that can be solved, printed and rated.</i></h2> -->
        <picture>
          <source media="(max-width: 768px)" srcset="assets/images/indexSml.jpg">
          <img class="splashImage" src="assets/images/newSplashv1.jpeg">
        </picture>
</div>



































    <!--
    <div fxLayout="row" fxLayoutAlign="center center" class="indexNavBtns">
        <mat-card fxFlex="90" fxLayoutAlign="space-evenly center">
            <a routerLink="/login" mat-raised-button class="btn">Login
            <a routerLink="/signup" mat-raised-button class="btn">Sign Up
      </mat-card>
    </div> -->


    <!--
    <div fxLayout="row" fxLayoutAlign="center center" class="indexNavBtns">
        <mat-card fxFlex="90" fxLayoutAlign="space-evenly center">
            <a routerLink="/login" mat-raised-button class="btn">Login
            <a routerLink="/signup" mat-raised-button class="btn">Sign Up
      </mat-card>
    </div>
     -->

    <!-- <div class="content">
        <div fxLayout="row" fxLayoutAlign="center center" class="descText">
            <mat-card fxFlex="90">
                    <p>Puzzles have been a hobby of many people over the centuries, coming in various
                    forms which have various ways of solving. Puzzles have played a role in people’s
                    problem solving skills. Puzzle generators have allowed for more puzzles to be
                    created, using various techniques to create interesting and challenging puzzles.
                    The system requested by the client involves the creation of 3-Dimensional puzzles (manually and from the use of AI), testing of puzzles, sharing and rating of
                    puzzles by other users, as well as the ability of downloading 3D printable files.
                    Team Prometheus, has come up with a way to develop the system according to
                    the client’s specifications.</p>
          </mat-card>
        </div> -->



        <!-- <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" >
            <div class="overlay"></div>
            <mat-card  class="child-1">
                <mat-card-header>
                    <mat-card-title>Puzzle One</mat-card-title>
                    <mat-card-subtitle class="one">Created by {{puzzle.creator}}</mat-card-subtitle>
                    <mat-card-subtitle class="one">Rating: </mat-card-subtitle>
                    <mat-card-subtitle class="one">Date: </mat-card-subtitle>
                    <mat-card-subtitle class="one">Created by X</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img class="indexImg" src="assets/images/imgC.jpg">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btns">SOLVE</button>
                    <button mat-button class="btns">RATE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card  class="child-2">
                <mat-card-header>
                    <mat-card-title>Puzzle One</mat-card-title>
                    <mat-card-subtitle class="one">Created by X</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img class="indexImg"  src="assets/images/imgB.jpg">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btns">SOLVE</button>
                    <button mat-button class="btns">RATE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="child-3">
                <mat-card-header>
                    <mat-card-title>Puzzle One</mat-card-title>
                    <mat-card-subtitle class="one">Created by X</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img class="indexImg"  src="assets/images/imgC.jpg">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btns">SOLVE</button>
                    <button mat-button class="btns">RATE</button>
                </mat-card-actions>
            </mat-card>
        </div>


                <a routerLink="/login" mat-raised-button class="btn">Login
                <a routerLink="/signup" mat-raised-button class="btn">Sign Up


    </div> -->

    <!--
    <div fxLayout="row" fxLayoutAlign="center center" class="indexNavBtns">
        <mat-card fxFlex="90" fxLayoutAlign="space-evenly center">
            <a routerLink="/login" mat-raised-button class="btn">Login
            <a routerLink="/signup" mat-raised-button class="btn">Sign Up
      </mat-card>
    </div> -->
