<app-navbar></app-navbar>
<div>
  <a mat-raised-button id="help" src="../../../assets/gifHelp.mp4">Tutorial</a>
 </div>

<div class="container-fluid">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1">
    <mat-card class="puzzleOptions">
      <mat-card-header>
        <mat-card-title class="titleLabel">Algorithm Parameters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="inputContainer">
          <label>Number of puzzle pieces(20 max):</label><br>
          <input type="text" name="numberOfPieces" id="numberOfPiecesInputBox" value="3"><br>
          <label>Number of Group 1 pieces:</label><br>
          <input type="text" name="numberOfPieces" id="numberOfPiecesInputBox1" value="1"><br>
          <label>Number of Group 2 pieces:</label><br>
          <input type="text" name="numberOfPieces" id="numberOfPiecesInputBox2" value="1"><br>
          <label>Number of Group 3 pieces:</label><br>
          <input type="text" name="numberOfPieces" id="numberOfPiecesInputBox3" value="1"><br>
          <label>Select Puzzle Type</label><br>
          <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" value="euclidean" name="distanceMetric" id="euclideanButtonAI" > Euclidian </mat-radio-button>
            <mat-radio-button class="radio-button" value="manhattan" name="distanceMetric" id="manhattanButtonAI" > Manhattan </mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button class="btns" id="nextButton">Next</button>
          <button mat-raised-button class="btns" id="generatePuzzleButtonAI">Generate Puzzle</button><br>
        </div>
      </mat-card-content>
   </mat-card>

   <mat-card class="creationCard">
     <mat-card-header>
       <mat-card-title >Create a puzzle</mat-card-title>
     </mat-card-header>
    <mat-card-content>
      <div id="containerAI">
      </div>
      <!-- <div id='colorPalettesAI'>
        <button mat-raised-button class="btns" id="randomizeColorsButtonAI">Randomize Colors</button>
      </div> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="saveOptions">
    <mat-card-header>
      <mat-card-title class="titleLabel">Saving Options</mat-card-title>
    </mat-card-header>
    <mat-card-content class="matContentC">
      <label>Select a color-palette:</label><br>
      <mat-radio-group>
        <mat-radio-button class="radio-button colorPalettes" paletteid=0 value="default" name="colorPalettes">Default</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=1 value="shadesOfRed" name="colorPalettes">Shades Of Red</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=2 value="shadesOfGreen" name="colorPalettes">Shades Of Green</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=3 value="shadesOfBlue" name="colorPalettes">Shades of Blue</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button class="btns" id="randomizeColorsButtonAI">Randomize Colors</button>
      <br><br>
      <label id="">Name: </label><br><input [(ngModel)]="name" type="text" name="puzzleName" id="puzzleNameInputBoxAI"><br>
      <label id="">Short Description: </label><br><input [(ngModel)]="description" type="text" name="puzzleDescription" id="puzzleDescriptionInputBoxAI"><br>
      <label hidden="true" id="tokenLabel">{{token}}</label><br>
      <button mat-raised-button class="btns" [disabled]="(!name) || (!description)" id="saveButtonAI" routerLink="/profilePuzzles">Save</button>
    </mat-card-content>
  </mat-card>
  </div>
</div>
