.container-fluid{
  /* background-color: whitesmoke; */
  padding: 3%;
  border-radius: 0.5%;
}

#help{
  background-color: #7C593A;
  color: white;
  padding: 0.5rem;
  float: right;
  margin-right: 2vw;
  cursor: pointer;
  height: 5rem;
  width: 7rem;
}

#helpXs{
  visibility: hidden;
}

.content{
 margin-left: 10rem;
}

.titleLabel{
  margin-left: -2rem;
}

mat-radio-group{
  font-size: 1.5rem;
  padding:0.5rem;
  display: flex;
  flex-direction: column;
}

#container {
   width: 500px;
   height: 500px;
   border: 1px solid black;
   margin: 1rem;
}

.radio-group {
   display: flex;
   flex-direction: column;
   font-size: 1vw;
 }

 #label{
   text-align: center;
   padding: 0.7em 0;
   font-size: 1vw;
   font-family: keep-calm;
   color: black;
 }

 .btns{
   background-color: #7C593A;
   color: white;
   margin: 0 1.3vw;
 }


 .main-title{
   text-align: center;
   text-transform: capitalize;
   padding: 0.7em 0;
   margin-top: 30px;
   font-size: 40px;
   text-align: center;
   font-family: keep-calm;
   color: gray;
 }

 .puzzleOptions{
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 4rem;
  width: 40rem;
  background-color: gainsboro;
  margin-left: 1rem;
}

.creationCard{
  margin: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  background-color: gainsboro;
}

.saveOptions{
  margin: 1rem;
  padding-left: 4rem;
  padding-top: 4rem;
  width: 35rem;
  max-width: 50rem;
  background-color: gainsboro;
}

#progressBar {
  margin-top: -29rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .puzzleOptions{
    width: 32rem;
  }
  #container {
    margin: unset;
    width: 29rem;
    height: 35rem;
    border: 1px solid black;
    margin-left: -2.5rem;
  }

  .puzzleType{
    margin-left: .8rem;
    width: 32rem;
  }

  .creationCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 32rem;
  }

  .saveOptions{
    width: 32rem;
  }

  .matContentC{
    margin-left: 3rem;
  }

  #colorPalleteLabel{
    font-size: medium;
  }

  #help{
    visibility: hidden;
  }

  #helpXs{
    margin-top: 1rem;
  }

  .radio-group {
    font-size: medium;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
 
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

