<app-navbar></app-navbar>
<p></p>
<label id="label">Create puzzle by selecting points on the canvas</label>

<div id="container">	
</div>

<label id="label">What puzzle type would you like to generate</label>
<mat-radio-group class="radio-group">
  <mat-radio-button class="radio-button" value="euclidean" name="distanceMetric" id="euclideanButton" > Euclidian </mat-radio-button>
  <mat-radio-button class="radio-button" value="manhattan" name="distanceMetric" id="manhattanButton" > Manhattan </mat-radio-button>
</mat-radio-group>

<button mat-raised-button color="primary" id="generatePuzzleButton">Generate Puzzle</button>
<button mat-raised-button color="primary" id="saveButton">Save</button>
<button mat-raised-button color="primary" id="saveAndSubmitButton">Save and Submit</button>

