<img src="assets/images/logo.jpg">
<app-navbar></app-navbar>
<div class="container-fluid">
  <!-- <h1 class="main-title"><strong>LET'S CREATE</strong></h1> -->

  <div class="content">
    <label id="label">What puzzle type would you like to generate?</label>
    <mat-radio-group class="radio-group">
      <mat-radio-button class="radio-button" value="euclidean" name="distanceMetric" id="euclideanButton" > Euclidian </mat-radio-button>
      <mat-radio-button class="radio-button" value="manhattan" name="distanceMetric" id="manhattanButton" > Manhattan </mat-radio-button>
    </mat-radio-group>
    <br>
    <label id="label">Create puzzle by selecting points on the canvas</label>

    <br>
    <div id="container">
    </div>
    <br>

    <button mat-raised-button class="btns" id="generatePuzzleButton">Generate Puzzle</button> <br >
      <label id="label">Name: </label><input type="text" name="puzzleName" id="puzzleNameInputBox"><br>
      <label id="label">Short Description: </label><input type="text" name="puzzleDescription" id="puzzleDescriptionInputBox"><br>
      <label hidden="true" id="tokenLabel">{{token}}</label>


    <button mat-raised-button class="btns" id="saveButton">Save</button>
    <button mat-raised-button class="btns" id="saveAndSubmitButton">Save and Submit</button>
    <br><br>
    <img src="" id="testingImg">
  </div>
</div>
