<app-navbar></app-navbar>
<div>
 <a mat-raised-button id="help" (click)="videoModal1.show()">Tutorial</a>
</div>

<div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="../../assets/ManualCreation.mp4" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btns" (click)="videoModal1.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1">
    <mat-card class="puzzleType">
      <mat-card-header>
        <mat-card-title class="titleLabel">Select Puzzle Type</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="radio-group">
          <mat-radio-button class="radio-button" value="euclidean" name="distanceMetric" id="euclideanButton" > Euclidian </mat-radio-button>
          <mat-radio-button class="radio-button" value="manhattan" name="distanceMetric" id="manhattanButton" > Manhattan </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
   </mat-card>

   <mat-card class="creationCard">
    <mat-card-header>
      <mat-card-title class="titleLabel">Create puzzle by selecting points on the canvas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="btns" id="deletePointButton">
        <mat-icon id="deletePointButtonIcon">delete</mat-icon><mat-icon id="editPointButtonIcon">edit</mat-icon> Delete Mode
      </button>
      <div id="container">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- <div id='colorPalettes'>
      </div> -->
      <!-- <button mat-raised-button class="btns" id="deletePointButton">Delete Mode</button> -->
      <button mat-raised-button class="btns" id="generatePuzzleButton">Generate Puzzle</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="saveOptions">
    <mat-card-header>
      <mat-card-title>Saving Options</mat-card-title>
    </mat-card-header>

    <mat-card-content class="matContentC">
      <label class="titleLabel">Select a color-palette:</label><br>
      <mat-radio-group>
        <mat-radio-button class="radio-button colorPalettes" paletteid=0 value="default" name="colorPalettes">Default</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=1 value="shadesOfRed" name="colorPalettes">Shades Of Red</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=2 value="shadesOfGreen" name="colorPalettes">Shades Of Green</mat-radio-button>
        <mat-radio-button class="radio-button colorPalettes" paletteid=3 value="shadesOfBlue" name="colorPalettes">Shades of Blue</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button class="btns" id="randomizeColorsButton">Randomize Colors</button>
      <br><br>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input class="input" matInput placeholder="john@doe.com" formControlName="email" required>
    </mat-form-field> -->
      <label id="">Name: </label><br><input type="text" [(ngModel)]="name" name="puzzleName" id="puzzleNameInputBox"><br>
      <label id="">Short Description: </label><br><input type="text" [(ngModel)]="description" name="puzzleDescription" id="puzzleDescriptionInputBox"><br>
      <label hidden="true" id="tokenLabel">{{token}}</label><br>
      <button mat-raised-button class="btns" [disabled]="(!name) || (!description)" id="saveButton" routerLink="/profilePuzzles">Save</button>
    </mat-card-content>
  </mat-card>
  </div>
</div>
