.container-fluid{
  /* background-color: #7C593A; */
}

.content{
  margin-left: 10rem;
}

#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-left: 5rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    font-size: 1vw;
  }

  #label{
    text-align: center;
    padding: 0.7em 0;
    font-size: 1vw;
    font-family: keep-calm;
    color: black;
  }

  .btns{
    background-color: #7C593A;
    color: white;
    margin: 0 1.3vw; 
  }


  .main-title{
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: keep-calm;
    color: gray;
  }
