.container-fluid{
  background-color: white;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-radius: 0.5%;
}

.container{
 background-color: white;
 width: 100%;
}


.content-image{
 width: 100%;
 margin-bottom: 10px;
}

h1{
  padding-top: 1%;
  margin-top: 0.5rem;
  font-family: keep-calm;
  color: black;
  text-align: center;
}

.paginator{
  bottom: 0;
}

mat-card{
 margin: auto;
 margin-top: 2vw;
 background-color: gainsboro;
 color: black;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 font-family:keep-calm;
}

mat-card-title{
  margin: 2rem 0 !important;
 font-family: keep-calm;
}

.btns{
 background-color: #7C593A;
 color: white;
 margin: 0.5vw;
 width: 50%;
 border: 1px solid white;
 text-align: center;
 font-size: 1.5rem;
}

.sortBtns{
  background-color: #7C593A;
  color: white;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  text-align: center;
 }

 .arrow{
   margin: 1rem;
 }

.puzzleActions{
 display: inline;
}

.puzzleDetails{
 color: #fff;
}

.btns:hover{
  /* background-color: rgba(0,0,0,0.7);; */
  background-color: white;
  color: black;
  border: #7C593A solid 0.1px;
 }

.example-form-field{
 margin-left: 2vw;
}

#spinner{
 margin: auto ;
}

.content {
 position: relative;
 width: 100%;
 max-width: 370px;
 overflow: hidden;
}

#NoneText{
  text-align: center;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #7C593A;
}

@media only screen and (max-width:350px){
  .btns{
     background-color: #7C593A;
     color: white;
     margin: 0.5vw;
     width: 50%;
     border: 1px solid white;
     text-align: center;
     font-size: 1rem;
   }
 }
