<app-navbar></app-navbar>
<div class="container-fluid">
  <h1 class="main-title">My Puzzles</h1>
  <div *ngIf="currentUser" class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card *ngFor="let puzzle of puzzleList|async" class="content">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/images/puzzles/{{puzzle.id}}.png">
        <mat-card-header>
            <mat-card-title>{{puzzle.name}}</mat-card-title>
            <mat-card-subtitle>Description: {{puzzle.description}}</mat-card-subtitle>
        </mat-card-header>
        <div class="content-details fadeIn-bottom">
            <h3 class="content-title">{{puzzle.name}}</h3>
            <button mat-button class="btns">SHARE</button>
            <button mat-button class="btns">DELETE</button>
        </div>
    </mat-card>
  </div>
  <div *ngIf="!puzzleList">
    You have not created any puzzles at the moment
  </div>
</div>
