/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

.container-fluid{
  background-color: white;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-radius: 0.5%;
}

.example-header-image {
 background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
 background-size: cover;
}


.navimg{
 height: 100%;
 width: 50%;
}


.container{
 background-color: white;
 width: 100%;
}

.infoIcon{
 float: right;
}

.content-image{
 width: 20vw;
 height: 20vw;
}

h1{
  padding-top: 2%;
  margin-top: 1rem;
  font-family: keep-calm;
  color: black;
  text-align: center;
}

mat-card{
 margin: auto;
 margin-bottom: 2vw;
 margin-top: 1vw;
 background-color: gainsboro;
 color: black;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

mat-card-subtitle{
 font-size: 14px;
  /* color: black;  */
}

mat-card-title{
  margin-top: 5px;
 font-family: Arial, Helvetica, sans-serif;
}


.btns{
 background-color: #7C593A;
 color: white;
 margin: 0.5vw;
 width: 50%;
 border: 1px solid white;
 text-align: center;
}

.puzzleActions{
 display: inline;
}

.puzzleDetails{
 color: #fff;
}

.btns:hover{
  /* background-color: rgba(0,0,0,0.7);; */
  background-color: white;
  color: black;
  border: #7C593A solid 0.1px;
 }

.example-form-field{
 margin-left: 2vw;
}

#spinner{
 margin: auto ;
}

*, *:before, *:after{
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing:border-box;
 box-sizing: border-box;
}

.content {
 position: relative;
 width: 100%;
 max-width: 340px;
 overflow: hidden;
}

.content-image{
 width: 100%;
 margin-bottom: 10px;
}

#NoneText{
  text-align: center;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #7C593A;
      }
