#image, #profileImage{
    width: 250px;
    height: 250px;
}

#profileImage{
    border-radius: 220rem;
    background-position: left top;
    padding: 2rem;
    width: 23rem;
}

/* .container{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
} */

.profile{
    margin: 3rem;
    padding: 2rem;
    width: 25rem;
    background-color:  #7C593A;
}

.flex-container{
    margin: 0.9rem;
}

.userPuzzles{
    margin: 0.2rem;
    background-color:  rgb(235, 235, 235);
    color: black;
    width: 280px;

}

 .btns{
    background-color: #7C593A;
    color: white;
    height: 3rem;
    margin: 0.5vw;

}

.main-title{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: keep-calm;
    color: gray;
}

mat-card-subtitle{
    font-size: 15px; }

mat-card-title{
    margin-top: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.main-title{
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  font-family: keep-calm;
  color: gray;
}

.one{
  color: gold;
}


.one{
 /*  padding: 1em 0;
  float: left; */
  width: 50%;
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 2vw;
}


.one .title{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 340px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 20vw;
  margin-bottom: 10px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

#NoneText{
  text-align: center; 
}
