/* .solver{
    width: 75vw;
    height: 65rem;
} */

#solverContainer{
	width: 70vw;
	height: 500px;
} 

.btns{
    background-color: #7C593A;
    color: white;
    margin: 0.5vw;
    /* width: 50%; */
    border: 1px solid white;
    text-align: center;
    font-size: 1.5rem;
}