<div class="solver" id="solverDialogDiv">
  <!-- <div class="headings"> -->
    <h3 *ngIf="!expertMode" mat-dialog-title><strong>Drag Puzzle Pieces onto the canvas to solve the puzzle</strong></h3>
    <h3 *ngIf="expertMode" mat-dialog-title><strong>Drag Puzzle Pieces onto the canvas to solve the puzzle. Be sure to rotate them to the right position</strong></h3>

     <label class="timer" *ngIf="showMe">Remaining Time:
      <countdown [config]="{leftTime: 15 }"></countdown>
    </label> 
  <!-- </div> -->

    <div id="solvedDiv" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Puzzle Successfully Solved</p>
        </div>
      </div>


    <div id="solverContainer"></div>

    <div mat-dialog-actions>
      <button class="btns" mat-button mat-dialog-close id="closeSolverDialogButton">Close</button>
      <label hidden="true" id="difficultyLevel">{{numHints}}</label>
      <button mat-button *ngIf="showHintButton" class="btns" (click)="showImage()">Hint {{fromPage}}(remaining)</button><label></label>
  </div>

  <div  class="modal" [ngStyle]="{'display':display}">
    <div id="cc" class="modal-content">
      <img id="pic" src="{{hintImage}}">
    </div>
  </div> 
  
</div>
