.chall1, .chall2, .chall3{
    margin: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    width: 40rem;
    background-color: gainsboro;
    margin-left: 1rem;
  }
  
  .date{
    margin: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    background-color: #7C593A;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    margin-top: -2.3rem;
    color: white;
    margin-left: 0rem;
    height: 10rem;
  }
  
  .content-image{
    width: 100%;
    margin-bottom: 1rem;
   }
   
   h1{
     padding-top: 1%;
     margin-top: 0.5rem;
     font-family: keep-calm;
     color: black;
     text-align: center;
   }
   
   mat-card{
    margin: auto;
    margin-top: 2vw;
    background-color: gainsboro;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: keep-calm;
    margin-bottom: 5rem;
   }
   
   mat-card-title{
     /* margin: 2rem 0 !important; */
    font-family: keep-calm;
   }
   
   
   .btns{
    background-color: #7C593A;
    color: white;
    margin: 0.5vw;
    /* width: 50%; */
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
   }

   .content {
    position: relative;
    width: 100%;
    max-width: 370px;
    overflow: hidden;
   }
   
   .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
   }
   
   .content:hover .content-overlay{
    opacity: 1;
   }
   
   
   .content-details {
    position: absolute;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
   }
   
   .content:hover .content-details{
    top: 30%;
    left: 50%;
    opacity: 1;
   }
   
   .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
   }
   
   .fadeIn-bottom{
    top: 80%;
   }

   #resetBtn:hover, .btns:hover{
    background-color: white;
    color: #7C593A;
   }

   .puzzleDetails{
     /* margin-top: 10rem; */
     color: white;
   }

   .footer {
    /* height: 50px; */
    background-color: #7C593A;
    line-height: 3rem;
    /* padding: 0 5rem; */
}