<app-navbar></app-navbar>

 <div class="container-fluid">
  <h1 class="main-title">Complete Daily Challenges to Earn XP and Level Up</h1>
   <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1">

    <mat-card class="date">
        {{datee}}<br>{{actualMonth}}<br>{{year}}
    </mat-card>

     <!-- <mat-card class="chall1">
       <mat-card-header>
         <mat-card-title class="">Solve Challenge</mat-card-title>
       </mat-card-header>
       <mat-card-content>
       </mat-card-content>
    </mat-card> -->

    <mat-card class="content" >
        <mat-card-title><strong>Easy Challenge</strong></mat-card-title>
        <!-- <mat-card-title class="">Solve Challenge</mat-card-title> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="{{puzzleOneImage}}">
          <div class="content-details fadeIn-bottom">
            <mat-card-header>
              <mat-card-subtitle class="puzzleDetails">Number of Given Hints: {{oneHints}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Difficulty: {{puzzleOneDifficulty}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Earn: {{oneXP}} XP</mat-card-subtitle>
            </mat-card-header>
          </div>
          <mat-card-title><strong>{{puzzleOneName}}</strong></mat-card-title>
          <label hidden="true" id="tokenLabel">{{token}}</label>
          <mat-card-actions class="puzzleActions">
            <button mat-button class="btns" id="solveButton" (click)="openSolveDialogEasy(puzzleOneID)">Solve</button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="content" >
        <mat-card-title><strong>Medium Challenge</strong></mat-card-title>
        <!-- <mat-card-title class="">Solve Challenge</mat-card-title> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="{{puzzleTwoImage}}">
          <div class="content-details fadeIn-bottom">
            <mat-card-header>
              <mat-card-subtitle class="puzzleDetails">Number of Given Hints: {{twoHints}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Difficulty: {{puzzleTwoDifficulty}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Earn: {{twoXP}} XP</mat-card-subtitle>
            </mat-card-header>
          </div>
          <mat-card-title><strong>{{puzzleTwoName}}</strong></mat-card-title>
          <label hidden="true" id="tokenLabel">{{token}}</label>
          <mat-card-actions class="puzzleActions">
            <button mat-button class="btns" id="solveButton" (click)="openSolveDialogMed(puzzleTwoID)">Solve</button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="content" >
        <mat-card-title><strong>Hard Challenge</strong></mat-card-title>
        <!-- <mat-card-title class="">Solve Challenge</mat-card-title> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="{{puzzleThreeImage}}">
          <div class="content-details fadeIn-bottom">
            <mat-card-header>
              <mat-card-subtitle class="puzzleDetails">Number of Given Hints: {{threeHints}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Difficulty: {{puzzleThreeDifficulty}}</mat-card-subtitle>
              <mat-card-subtitle class="puzzleDetails">Earn: {{threeXP}} XP</mat-card-subtitle>
            </mat-card-header>
          </div>
          <mat-card-title><strong>{{puzzleThreeName}}</strong></mat-card-title>
          <label hidden="true" id="tokenLabel">{{token}}</label>
          <mat-card-actions class="puzzleActions">
            <button mat-button class="btns" id="solveButton" (click)="openSolveDialogHard(puzzleThreeID)">Solve</button>
          </mat-card-actions>
      </mat-card>

    <!-- <mat-card class="chall2">
      <mat-card-header>
        <mat-card-title >Time Challenge</mat-card-title>
      </mat-card-header>
     <mat-card-content>
     </mat-card-content>
   </mat-card>

   <mat-card class="chall3">
     <mat-card-header>
       <mat-card-title class="titleLabel">Bonus Challenge</mat-card-title>
     </mat-card-header>
     <mat-card-content class="">
       </mat-card-content>
   </mat-card> -->
   </div>
 </div>

 <app-footer class="footer"></app-footer>
